.feed {
    padding: auto;
}

.post {
    border-radius: 5px;
    border-width: 1px;
    border-color: #d8d9da;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
}

.interact-with-post-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.option {
    text-align: center;
}

.btn:hover {
    color: inherit !important;
	background-color: inherit !important;
	border-color: inherit !important;
}

.likes {
    color: #fff !important;
	background-color: #212529 !important;
	border-color: #212529 !important;
}

.likes:hover {
    color: #fff !important;
	background-color: #212529 !important;
	border-color: #212529 !important;
}